@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}

/* Scrollbar personalizado */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #22d3ee; /* cyan-400 */
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f5f9; /* gray-100 */
}
